form{
    display: flex;
    justify-content: right;
    align-items: center;
}

img{
    display: flex;
    align-items: center;
    justify-content: left;
}

footer{
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    font-size: 16px;
    font-weight: bold;
}

footer a{
    
    color: white;
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    font-weight: bold;
    margin: 0 auto;

}

footer ul li a:hover {
    color: #11101b;
    background-color: #fefefe;
}

footer ul {
    
    display: flex;
    justify-content: center;
}
  
footer li {
    margin: 0 10px;
}

input[type=text], input[type=password] {
    font-size:1.5em;
}

input[type=submit], input[type=reset]{
    font-size: 1.2em;
}

.container {
    display: flex;
    justify-content: center; /* Aligner horizontalement les éléments au centre */
}

.image {
    margin-right: 0em;
}

.footer{
    align-self: flex-end;
}
  